		<div class="modal fade" id="uploadSuccessModal" tabindex="-1" aria-hidden="true">
		  <div class="modal-dialog">
		    <form th:action="@{/upload-file}" method="post" enctype="multipart/form-data" class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5">Upload Success</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <div class="mb-3">
				  <h6>File has been upload successfully!</h6>
				  <span id="nameFileUploaded"></span>
				</div>
		        <div class="mb-3" th:if="${bkFilename != null}">
				  <h6>The existing file is renamed to:</h6>
				  <span th:text="${bkFilename}"></span>
				</div>
		      </div>
		    </form>
		  </div>
		</div>